@font-face {
    font-family: 'gunplay';
    src: url('./fonts/gunplay_rg-webfont.woff2') format('woff2'),
         url('./fonts/gunplay_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/blue-wall-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(190, 190, 190);
    font-family: "gunplay";
}

h2 {
    font-size: 30px;
}

#header, #winner {
    text-align: center;
    font-size: 100px;
    padding: 50px;
    padding-bottom: 25px;
}

#player-names {
    display: flex;
    justify-content: space-evenly;
    gap: 125px;
    padding: 25px;
}

#play-area {
    display: flex;
    justify-content: space-evenly;
}

#player1, #player2 {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: fit-content;
    gap: 1px;
    border: 1px solid black;
}

.grid-row {
    display: flex;
    gap: 1px;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: white;
}

.water {
    background-color: rgb(47, 133, 238);
}

.miss {
    background-color: rgb(238, 251, 253);
}

.hit {
    background-color: rgb(246, 27, 27);
}

.ship {
    background-color: rgb(179, 179, 179);
}